.container {
    font-family: 'Open Sans Condensed', sans-serif;
}

header {
    flex-wrap: wrap;
}

h1 {
    font-size: 3rem;
    padding: 10px;
}

nav {
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color:gray;
}

p {
    font-size: 1.2rem;
    padding: 7px 20px;
}

img {
    width: 400px; 
    height: 300px;
    padding: 10px;
}

ul {
    display: flex;
    justify-content: center;
}

li {
    padding: 20px;
}

.scroll {
    display: flex; /* [1] */
    flex-wrap: nowrap; /* [1] */
    overflow-x: auto; /* [1] */
    -webkit-overflow-scrolling: touch; /* [4] */
    -ms-overflow-style: -ms-autohiding-scrollbar; /* [5] */
    align-items: flex-end;
}
  
  /* [6] */
  .scroll::-webkit-scrollbar {
    display: none; }

    .item {
        flex: 0 0 auto; }


.centerContent {
    display: flex;
    justify-content: center;
}

.centerPContent {
    display: flex;
    justify-content: center;
}

.makeStick {
    display: block;
    justify-content: center;
}

.extraLeft {
    padding-left: 20px;
}

.extraRight {
    padding-right: 20px;
}

.bottomRoom {
    padding-bottom: 20px;
}