.container {
    font-family: 'Open Sans Condensed', sans-serif;
}

header {
    flex-wrap: wrap;
}

h1 {
    font-size: 3rem;
    padding: 15px 10px 10px 10px;
}

nav {
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color:gray;
}

h2 {
    font-size: 1.3rem;
    padding: 15px 10px 10px 10px;
}

p {
    font-size: 1.2rem;
    padding: 7px 20px;
    text-align: center;
}

img {
    width: 400px; 
    height: 300px;
    padding: 10px;
}

video {
    width: 400px; 
    height: 300px;
    padding: 10px;
}

ul {
    display: flex;
    justify-content: center;
}

li {
    padding: 20px;
}

.scroll {
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    align-items: flex-end;
}
  
  
  .scroll::-webkit-scrollbar {
    display: none; }

    .item {
        flex: 0 0 auto; }



/*  .horizontal-scroll-wrapper {
    width: 500px;
    height: 1000px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .horizontal-scroll-wrapper > img {
    width: 400px; 
    height: 300px;
  }

  .horizontal-scroll-wrapper {
    
    transform: rotate(-90deg);
    transform-origin: right top;
  }
  

  .horizontal-scroll-wrapper > img {
    
    transform: rotate(90deg);
    transform-origin: right top;
  }

  .horizontal-scroll-wrapper {
    
    transform:rotate(-90deg) translateY(-100px);

  } */

.centerContent {
    display: flex;
    justify-content: center;
}

.makeStick {
    display: block;
    justify-content: center;
}

.extraLeft {
    padding-left: 20px;
}

.extraRight {
    padding-right: 20px;
}

.bottomRoom {
    padding-bottom: 1.2%;
}

/* .pushDown {
    padding-top: 3%;
} */

.pushDown2 {
    padding-bottom: 3.8%;
}

.centerPContent {
    display: flex;
    justify-content: center;
}

.sidePadding{
    padding: 0px 20px 0px 20px;
}

.extraSpace {
    padding: 10px 0px;
}